# --- Framework Principal y Servidores ---
Django==5.2.1
gunicorn                  # CRÍTICO: Servidor WSGI para producción
whitenoise==6.9.0         # Para servir archivos estáticos eficientemente

# --- Base de Datos y Almacenamiento en la Nube ---
psycopg2-binary==2.9.10   # Driver para PostgreSQL (RDS)
django-storages 
boto3                     # CRÍTICO: Librería de AWS utilizada por django-storages
redis==5.3.1              # Para el broker de Celery y Channels
tzdata==2025.2            # Zona horaria

# --- REST Framework y Autenticación ---
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.0
django-cors-headers==4.7.0
PyJWT==2.9.0
requests==2.32.3
oauthlib==3.3.1
requests-oauthlib==2.0.0

# --- Asincronía y Tareas en Segundo Plano ---
# Channels (WebSockets)
channels==4.3.0
daphne==4.2.1
channels_redis==4.3.0

# Celery
celery==5.3.6
django_celery_results==2.6.0
kombu==5.5.4
billiard==4.2.1
amqp==5.3.1
vine==5.1.0

# --- Utilidades, Forms y Administración ---
django-allauth==65.10.0
django-import-export==4.3.7
crispy-bootstrap5==2025.4
django-crispy-forms==2.4
django-environ==0.12.0
python-dotenv==1.1.0
python-decouple==3.8
sqlparse==0.5.3
tablib==3.8.0
lxml==5.4.0
openpyxl==3.1.5
et_xmlfile==2.0.0
PyYAML==6.0.2
qrcode==8.2
twilio==9.5.2
asgiref==3.9.1
google-generativeai==0.8.6
xhtml2pdf==0.2.17
pandas==3.0.2
mercadopago==2.4.0
python-docx==1.2.0
PyPDF2==3.0.1
weasyprint==68.1