# .ebextensions/02_django_commands.config
option_settings:
  # Configuración del servidor WSGI (Gunicorn)
  aws:elasticbeanstalk:container:python:
    # CRÍTICO: Apunta a tu archivo wsgi: proyecto_colegio.wsgi
    WSGIPath: proyecto_colegio.wsgi:application 
    NumProcesses: 3
    NumThreads: 8
    
container_commands:
  01_migrate:
    # CRÍTICO: Aplica migraciones a la BD RDS
    command: "python manage.py migrate --noinput"
    leader_only: true # Solo ejecuta este comando en una instancia (evita race conditions)
  02_collectstatic:
    # CRÍTICO: Recolecta todos los archivos estáticos en STATIC_ROOT para Whitenoise
    command: "python manage.py collectstatic --noinput"