{% extends "base_academico.html" %}
{% load crispy_forms_tags %}
{% block titulo %}Formulario de Descriptor{% endblock %}
{% block contenido %}
<div class="container mt-4">
    <h1>Formulario de Descriptor de Logro</h1>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-success">Guardar</button>
        <a href="{% url 'gestion_academica:docente_lista_descriptores' %}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
{% endblock %}